Cancer/Cancer-frontend/Service References/Cancer_WS/cancer_backend.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/cancer_backend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/cancer_backend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDrogaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DrogaDTO" nillable="true" type="tns:DrogaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrogaDTO" nillable="true" type="tns:ArrayOfDrogaDTO" />
  <xs:complexType name="DrogaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CasaComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorcentajeTDC" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="StockSolution" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="StorageAndStability" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DrogaDTO" nillable="true" type="tns:DrogaDTO" />
</xs:schema>