Cancer/Cancer-frontend/Service References/Cancer_WS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/cancer_backend" />
  <xs:element name="obtenerTotalDrogas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTotalDrogasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerTotalDrogasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaDrogas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaDrogasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/cancer_backend" minOccurs="0" name="obtenerListaDrogasResult" nillable="true" type="q1:ArrayOfDrogaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>