Cancer/Cancer-frontend/Service References/Cancer_WS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cancer_ws" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/cancer_backend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICancer_ws_obtenerTotalDrogas_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTotalDrogas" />
  </wsdl:message>
  <wsdl:message name="ICancer_ws_obtenerTotalDrogas_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTotalDrogasResponse" />
  </wsdl:message>
  <wsdl:message name="ICancer_ws_obtenerListaDrogas_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerListaDrogas" />
  </wsdl:message>
  <wsdl:message name="ICancer_ws_obtenerListaDrogas_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerListaDrogasResponse" />
  </wsdl:message>
  <wsdl:portType name="ICancer_ws">
    <wsdl:operation name="obtenerTotalDrogas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICancer_ws/obtenerTotalDrogas" message="tns:ICancer_ws_obtenerTotalDrogas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICancer_ws/obtenerTotalDrogasResponse" message="tns:ICancer_ws_obtenerTotalDrogas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerListaDrogas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICancer_ws/obtenerListaDrogas" message="tns:ICancer_ws_obtenerListaDrogas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICancer_ws/obtenerListaDrogasResponse" message="tns:ICancer_ws_obtenerListaDrogas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICancer_ws" type="tns:ICancer_ws">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerTotalDrogas">
      <soap:operation soapAction="http://tempuri.org/ICancer_ws/obtenerTotalDrogas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerListaDrogas">
      <soap:operation soapAction="http://tempuri.org/ICancer_ws/obtenerListaDrogas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cancer_ws">
    <wsdl:port name="BasicHttpBinding_ICancer_ws" binding="tns:BasicHttpBinding_ICancer_ws">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/cancer_backend/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>